<div>
<div ng-if="(info.signedUp)">
	<ul>
		<li>Name:{{info.firstname}}</li>
		<li>Last name:{{info.lastname}}</li>
		<li>Email:{{info.email}}</li>
		<li>Phone:{{info.phone}}</li>
		<li>Favorite item:{{info.item}}</li>
		<li>Description:{{info.description}}</li>
		<img src='images/menu/{{info.category_short_name}}/{{info.category_short_name}}.jpg'>
	</ul>
</div>
<div ng-if="!(info.signedUp)">Not Signed Up Yet. </div> 
<a ui-sref="public.signup" ng-if="!(info.signedUp)">
    <span class="glyphicon"></span>
    Sign up now!</a>    
</div>